NEO4J_URI=bolt://localhost:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=graphrag123
NVIDIA_API_KEY=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
NVIDIA_BASE_URL=https://integrate.api.nvidia.com/v1